telethon
datetime
asyncio
psutil
requests
urllib3
wikipedia
pytz
spotipy
pytube
googlesearch-python
googletrans==4.0.0-rc1
beautifulsoup4
pillow
gtts
youtube-dl
geopy
timezonefinder
qrcode
yt_dlp
whois
aiohttp
persiantools
jdatetime
